* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color:white;
}

.background {
  background-image: url("../the-flatiron-building.png");
}

.background p {
    font-size: 18px;
  color: white;
}

footer {
  font-size: 18px;
  color: white;
  background-color: dimgray;
}
